<div>
  <h3 class="text-center">Importação de Arquivo CSV do produto</h3>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div>
          <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <input type="file" id="profile" name="profile" formControlName="profile" (change)="onFileSelect($event)" />
                <button type="submit">Importar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>