<div>
  <h3 class="text-center">Alteração do Produto</h3>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="row">
          <div class="form-group">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.id" type="hidden" class="form-control" id="idProduto">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="idProduto">Cód.Produto</label>
            <input maxlength="10" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.coproduto" type="text"
              class="form-control" id="idProduto">
          </div>
          <div class="form-group col-md-7">
            <label for="idDescricao">Descrição Produto</label>
            <input maxlength="70" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.noproduto" type="text"
              class="form-control" id="idDescricao">
          </div>
          <div class="form-group col-md-2">
            <label for="idUnidadeMedida">Und.Medida</label>
            <input maxlength="10" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.unidademedida" type="text"
              class="form-control" id="idUnidadeMedida">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="idDistribuidora">Distribuidora</label>
            <input maxlength="70" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.distribuidora" type="text"
              class="form-control" id="idDistribuidora">
          </div>
          <div class="form-group col-md-2">
            <label for="idData">Data Coleta</label>
            <input maxlength="10" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.datacoleta" type="text"
              class="form-control" id="ididData">
          </div>
          <div class="form-group col-md-2">
            <label for="idValorCompra">Valor Compra</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.valorcompra" type="text"
              class="form-control" id="idValorCompra">
          </div>
          <div class="form-group col-md-2">
            <label for="idValorVenda">Valor Venda</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.valorvenda" type="text"
              class="form-control" id="idValorVenda">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="idRegisao">Região</label>
            <input maxlength="2" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.siglaregiao" type="text"
              class="form-control" id="idRegisao">
          </div>
          <div class="form-group col-md-3">
            <label for="idEstado">Estado</label>
            <input maxlength="2" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.siglaestado" type="text"
              class="form-control" id="idEstado">
          </div>
          <div class="form-group col-md-3">
            <label for="idMunicipio">Município</label>
            <input maxlength="50" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.siglamunicipio" type="text"
              class="form-control" id="idMunicipio">
          </div>
          <div class="form-group col-md-3">
            <label for="idBandeira">Bandeira</label>
            <input maxlength="40" [ngModelOptions]="{standalone: true}" [(ngModel)]="objeto.bandeira" type="text"
              class="form-control" id="idBandeira">
          </div>
        </div>
        <button (click)="salvar(objeto)" type="submit" class="btn btn-primary"
          style="width: 100px; height: 40px">Salvar</button>
        <button [routerLink]="['/produto/listar']" class="btn btn-primary" type="button" id="idListarr"
          style="width: 100px; height: 40px">Voltar</button>
      </form>
    </div>
  </div>
</div>