<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <td>
              <div class="button">
                <button style="width: 100px; height: 40px" [routerLink]="['/produto/incluir']" class="btn btn-primary btn-sm" type="button" id="idincluir">Incluir</button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Regiao</th>
            <th scope="col">Estado</th>
            <th scope="col">Município</th>
            <th scope="col">Distribuidora</th>
            <th scope="col">Bandeira</th>
            <th scope="col">Produto</th>
            <th scope="col">Und. Medida</th>
            <th scope="col">Data Coleta</th>
            <th scope="col" class="text-right">Valor da Compra</th>
            <th scope="col" class="text-right">Valor da Venda</th>
            <th scope="col" class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaProduto">
            <td>{{ item.id }}</td>
            <td>{{ item.siglaregiao }}</td>
            <td>{{ item.siglaestado }}</td>
            <td>{{ item.siglamunicipio }}</td>
            <td>{{ item.distribuidora }}</td>
            <td>{{ item.bandeira }}</td>
            <td>{{ item.noproduto }}</td>
            <td>{{ item.unidademedida }}</td>
            <td>{{ formatterDate(item.datacoleta) }}</td>
            <td class="text-right">{{ formatterValue(item.valorcompra, 2) }}</td>
            <td class="text-right">{{ formatterValue(item.valorvenda, 2) }}</td>
            <td>
              <div class="button text-center">
                <button [routerLink]="['/produto/alterar', item.id]" class="btn btn-primary btn-sm" type="button" id="idalterar" style="width: 100px; height: 40px">Alterar</button>
                <button (click)="excluir(item.id)" class="btn btn-danger btn-sm" type="button" id="idexcluir" style="width: 100px; height: 40px">Excluir</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>